@import 'calcite-bootstrap';

/* set the output folder for fonts */
$icon-font-path: './fonts/';

/* Now bootstrap,  */
@import "bootstrap";

.nav-default {
  border-color: #efefef;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cal-header {
  padding-top: 0;
}

#swagger-ui-container {
  margin-left: 0;
  margin-right: 0;
}

#resources_container #resources {
  padding-left: 0;
}

.endpoints {
  padding-left: 0;
}
